@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-nanumgothic;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Nanum-Gothic-Bold";
  src: url("../../public/fonts/NanumGothicBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum-Gothic";
  src: url("../../public/fonts/NanumGothic.ttf") format("truetype");
}
